.chat-box--body {
  background-color: #3d3d40;
  height: 40vh;
  margin-top: 10px;
  padding: 8px 0;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.people {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: flex-end;
}

.mat-card-header-text {
  width: 100%;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.mat-card-avatar {
  height: 26px;
  width: 26px;
  margin-left: -8px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  border: 1px solid rgb(189 183 183);
}

mat-icon {
  font-size: 26px;
  margin: 0 2px;
  color: aliceblue;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  padding: 3px;
}

.people-list {
  width: 290px;
  float: left;
  height: 100%;
  overflow: auto;
  background-color: #bb9c7526;
  margin-top: 5px;
  padding-left: 11px;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 0;
    height: 573px;
    cursor:pointer;

    li {
      padding-bottom: 33px;
    }
  }

  img {
    float: left;
    height: 35px;
  }

  .about {
    float: left;
    margin-top: 0;
    width: 75%;
    padding-left: 8px;
    border-bottom: #3e3e2d5c solid 1px;
  }

  .about {
    padding-left: 8px;
  }

  .status {
    color: gray;
  }
  .name {
    color: antiquewhite;
  }
}
