

header{
    height: 50px;
    background-color: gold;
}

section{
    display: grid;
    grid-template-columns: 14% 86%;
    grid-template-rows:auto;
    height: calc(100vh - 50px);
    overflow: hidden;
}

nav{
    background-color: #373738;
}

.area{
    display: contents;
}

app-code-editor{
    z-index: 1;
}