

header{
    height: 64px;
    background-color: gold;
}

section{
    display: grid;
    grid-template-columns: 14% 86%;
    grid-template-rows:auto;
    height: calc(100vh - 64px);
    overflow: hidden;
}

nav{
background-color: green;
}

.area{
    display: contents;
}